#ifndef _SECRETS_H_
#define _SECRETS_H_

/* There is only one secret in this project:
 * The authentication token for updating sensors on wetter.poempelfox.de */
#define WPDTOKEN "FILLME"

#endif /* _SECRETS_H_ */

